apiVersion: v1
kind: Service
metadata:
  name: bill-app-frontend-service
spec:
  type: NodePort
  selector:
    app: bill-app-frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
