.homepage-header {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 1.5rem 5%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 70px;
  height: auto;
  cursor: pointer; 
  margin-right: 10px; 
}

.app-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin: 0; 
  padding: 0; 
}


.register-form-container {
  margin-top: 120px; 
  width: 350px;
  font-family: Arial;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.register-container {
    background-image: url(../../../public/images/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
  }
  
  .success-message {
    color: green;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #e6ffe6;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffe6e6;
    border-radius: 4px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
    fontWeight: 500;
    color: #555;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .register-button {
    width: 100%;
    padding: 13px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: background-color 0.3s;
  }
  
  .register-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .login-link-container {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: black;
  }
  
  .login-link {
    color: #1608e6;
    font-weight: 600;
    text-decoration: none;
  }